body {
    background-color: lightblue;
}
h1 {
    color: red;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}
p {
    color: red;
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 350px;
}
img {
    margin-inline: 10px;
    margin-top: 60px;
}
img:first-of-type {
    width: 30%;
    height: 200px;
}
img:nth-of-type(2) {
    width: 30%;
    height: 200px;
    margin-bottom: -50px;
}
img:last-of-type {
    width: 30%;
    height: 200px;
    margin-bottom: -80px;
}